<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <!--<link href="assets/css/page.min.css" rel="stylesheet">-->
    
<style>
    .contaner{
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .row{
        justify-content: center;
        align-self: center;
        background-color:ivory;
        align-items: center;
    }
    #list{
        background-color: chartreuse;
        justify-content: center;
    }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='/css/sponsored.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="{{url_for('static', filename='index.js')}}"></script>

    <!-- Favicons -->
    
</head>
<body>
    <div class="navbar-end">
        {% if current_user.is_authenticated %}
        <a href=# class="navbar-item">
            Profile
        </a>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('login') }}" class="navbar-item">
            Login
        </a>
        <a href="{{ url_for('register') }}" class="navbar-item">
            Sign Up
        </a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" class="navbar-item">
            Logout
        </a>
        {% endif %}
    </div>

    {%block body%}
    
    {%endblock%}
</body>
</html>